<style>
body {
    background-color: white;
}
</style>
<body>
<div class="wrapper">
<h1 class="center">Log in </h1>
<form method="POST" action="/login">
    <p>Email <input type="text" name="email"></p>
    <p>Password <input type="password" name="password"></p>
    <input type="submit" class="btn btn-secondary index-button"> 
</form>
</body>
