
<style>
body {
    background-color: white;
}
</style>
<body>
<div class="wrapper">
<h1 class="center">Edit your list</h1>
<form method="POST" action="/kpop_groups/<%= @group.id %>">
<input type="hidden" id="hidden" name="_method" value="PATCH">
 <p>K-pop Group Name<input type="text" name="group_name"></p>
    <p>Group Leader<input type="text" name="member"></p>
    <p>Gender<input type="text" name="gender"></p>
    <p>Height<input type="text" name="height"></p>
    <p>Favourite Quote<input type="text" name="fav_quote""></p>
    <input type="submit" class="btn btn-secondary index-button" value="Update" >

</form>



