<h1>Add a k-pop Group</h1>

<form action="/groups" method="POST">
  <label> K-pop Group Name:</label>
  <input type="text" name="group"> </br>

  <label> Group member: </label>
  <input type="text" name="member"> </br>

 <label> Gender: </label>
<input type="text" name="gender"> </br>

<label> Height: </label>
<input type="integer" name="height"> </br>

  <input type="submit" value="Create">
</form>